*.${DOMAIN_NAME} {
	tls {
		dns cloudflare ${CLOUDFLARE_KEY}
	}
}

http://prod.${DOMAIN_NAME} {
	redirect https://prod.${DOMAIN_NAME}{uri} permanent
}

prod.${DOMAIN_NAME} {
	reverse_proxy front-app:80 {
		header_up X-Forwarded-Proto {scheme}
	}
}

http://prod-api.${DOMAIN_NAME} {
	redirect https://prod-api.${DOMAIN_NAME}{uri} permanent
}

prod-api.${DOMAIN_NAME} {
	reverse_proxy back-app:3000 {
		header_up X-Forwarded-Proto {scheme}
	}
}
